---
layout: default
title: damagethundercat.github.io
---

<h1 class="site-title">{{ site.title }}</h1>

{% if site.posts.size > 0 %}
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time>
        -
        <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        -
        {% if post.author_url %}
          <a href="{{ post.author_url | escape }}" target="_blank" rel="noopener noreferrer">{{ post.author | escape }}</a>
        {% else %}
          <span>{{ post.author | escape }}</span>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>아직 글이 없습니다.</p>
{% endif %}
